.Section3 {
    &__btn {

        background: linear-gradient(45deg, #bc0d2c, #e65f1e);
    }

    &__btn1 {
        background: white;
        box-shadow: 0px 4px 30px rgba(235, 114, 87, 0.27);
    }
}