.Section1 {
    &__img {
        border: 1px solid #000;
        padding: 0;
        margin-left: 30px;
        box-shadow: 0px 4px 30px rgba(235, 114, 87, 0.27);
        transition: all 0.3s;
        background: none;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 4px 30px rgba(126, 54, 37, 0.27);
        }
    }
}