@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {}

.body {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {}

.phone {
  background: linear-gradient(92.5deg, #B7042D 6.07%, #E65F1D 93.93%);
  color: white;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.item {
  padding-bottom: 10px !important;
  text-align: center;
  cursor: pointer;
  color: #000000A6;
  font-weight: bolder;
  height: 40px;
}

.item:hover {
  color: red;
  border-bottom: 2px solid red;
}

.Options {
  display: none;
}

.show {
  display: inline-block !important;
}

.itemOption {
  color: black !important;
  text-align: start;
}

.itemOption:hover {
  border-radius: 10px;
  background-color: #f8f9fa;
}